<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login Success</title>
</head>
<body>
    <div class="success-container">
        <h1>Login Successful</h1>
        <p>Redirecting...</p>
        <script>
            // Redirect to the loading page after a delay
            setTimeout(() => {
                window.location.replace("{{ url_for('loading') }}");
            }, 2000);
        </script>
    </div>
</body>
</html>
